body {
    background-color: #D5E1EF;
    font-family: 'Outfit', sans-serif;
    font-size: 0.95rem;
    text-align: center;
    margin: 0;
    /* resets browser default margin settings*/
}

h1 {
    color: #1f3251;
    font-size: 1.4rem;
}

/* main container - holds card div*/
.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

/* container - holds img and card text*/
.card {
    background-color: #fff;
    border-radius: 1rem;
    color: #7b879d;
    width: 20rem;
}

.QR {
    margin: 1rem 0 0;
}

.QR img {
    border-radius: 0.5rem;
    width: 18rem;
}

.card_text {
    padding: 0.4rem 2rem 1rem;
}